body {
  .wrapper {
    footer {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      background-color: #FCFCFD;

      .logo {
        display: flex;
        // justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 15px;
        position: relative;
        padding-top: 50px;

        .logoFooter {
          height: 100px;
          position: absolute;
          top: -25px;
          left: -20px;
        }

        .contentFooter {
          color: #081F32;
          //font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }

        .spanContact {
          color: #081F32;
          //font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          letter-spacing: 0.96px;
        }

        .divForSocials {
          display: flex;
          column-gap: 20px;

          .icon {
            height: 20px;
            width: 20px;
            transition: 500ms;

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }

      .home, .pages {
        .titleOfList {
          color: #081F32;
          //font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          padding-bottom: 50px;
          margin-top: 0;

          .liFooter {
            color: #081F32;
            //font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 20px;
            list-style: none;

            &:first-child {
              padding-top: 10px;
            }

            &:hover {
              cursor: pointer;
              scale: 1.05;
              color: #05233b;
            }
          }
        }
      }

      .subscribe {
        .titleSubscribe {
          color: #081F32;
          //font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }

        .inputSubscribe {
          margin-top: 30px;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          padding: 12px 0px 12px 30px;
          color: #081F32;
          // text-align: center;
          //font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }

        .btnSubsribe {
          padding: 15px 40px;
          border-radius: 5px;
          background: #1B75BB;
          border: none;
          color: #FFF;
          text-align: center;
          //font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0.48px;
          transition: 500ms;

          &:hover {
            cursor: pointer;
            transform: scale(0.98);
            background-color: #0f5c98;
          }
        }
      }
    }
  }
}

.maps {
  height: 200px;
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;
  border: 1px solid #2f78d9 !important;
}
