@media (max-width: 990px) {
  body {
    .wrapper {
      header {
        .blockForLogoAndNav {
          .imageLogo {
            width: 136px;
            height: 94px;
          }

          nav {
            column-gap: 10px;

            a {
              font-size: 14px;

              &:hover {
                transform: scale(1);
              }
            }
          }


          .btnBookNow {
            padding: 5px 15px;
            gap: 5px;
            font-size: 14px;

            &:hover {
              transform: scale(0.98);
            }
          }
        }
      }
    }
  }
}


@media (max-width: 850px) {
  body {
    .wrapper {
      header {
        .blockForLogoAndNav {
          .imageLogo {
            width: 100px;
            height: 58px;
          }

          nav {
            column-gap: 7px;

            a {
              font-size: 15px;
            }
          }


          .btnBookNow {
            padding: 5px 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    .wrapper {
      header {
        .blockForLogoAndNav {
          display: none;
        }

        .blockForLogoAndBurger {
          display: flex;
        }
      }
    }
  }
}

